.bt {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.bt-red {
  border-radius: 0 8px 8px 0;
  height: 45px;
  min-width: 140px;
  background: $custom-red;
}
.bt-blue {
  background: $custom-blue;
  border-radius: 8px;
  height: 40px;
  padding: 0 20px;
  font-size: 0.9em;
}
